Package: office-template-helper
Version: 1.0.0-1
Maintainer: example <example@example.com>
Depends: zenity
Architecture: amd64
Homepage: https://github.com/jbirbal-skydom/Office-Template-Helper
Description: Office Template Helper is a versatile desktop application designed to enhance the productivity of Microsoft Office users by enabling the easy integration of add-ons directly into Office files via XML modifications.