#!/usr/bin/make -f

%:
	dh $@ --verbose

override_dh_auto_clean:
	@echo "Nothing to clean"

override_dh_auto_build:
	@echo "No build step required"

override_dh_auto_test:
	@echo "No test step required"

override_dh_auto_install:
	dh_install
	dh_install bin/office-template-helper-CLI usr/bin/
	dh_install bin/office-template-helper-GUI usr/bin/
	dh_install share/office-template-helper/settings/ usr/share/office-template-helper/
	dh_install share/office-template-helper/reference/ usr/share/office-template-helper/
